<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>Simple CRM</h1>
			<p>The best way to manage our contacts with your team</p>
			<p><%= link_to "Create Account", new_account_path, class: "btn btn-primary btn-lg" %></p>
		</div>
	</div>
</div>